<!-- quote-form.component.html -->
<form [formGroup]="lineItemsForm" (ngSubmit)="onSubmit()">
  <div formArrayName="lineItems">
    <div
      *ngFor="let lineItem of lineItems.controls; let i = index"
      [formGroupName]="i"
      class="line-item-form-group"
    >
      <div class="form-field">
        <label for="partName-{{ i }}">Part Name:</label>
        <input type="text" id="partName-{{ i }}" formControlName="partName" />
      </div>

      <div class="form-field">
        <label for="quantity-{{ i }}">Quantity:</label>
        <input type="number" id="quantity-{{ i }}" formControlName="quantity" />
      </div>

      <div class="form-field">
        <label for="technology-{{ i }}">Technology:</label>
        <select id="technology-{{ i }}" formControlName="technology">
          <option value="CNC machining">CNC machining</option>
        </select>
      </div>

      <div class="form-field">
        <label for="material-{{ i }}">Material:</label>
        <select id="material-{{ i }}" formControlName="material">
          <option value="Polycarbonate">Polycarbonate</option>
          <option value="Magnesium">Magnesium</option>
          <option value="Aluminum">Aluminum</option>
          <option value="Copper">Copper</option>
          <option value="PVC">PVC</option>
          <option value="Polypropylene">Polypropylene</option>
          <option value="PEEK">PEEK</option>
          <option value="PMMA (Acrylic)">PMMA (Acrylic)</option>
          <option value="Mild steel">Mild steel</option>
          <option value="POM (Delrin/Acetal)">POM (Delrin/Acetal)</option>
          <option value="PS">PS</option>
          <option value="ABS">ABS</option>
          <option value="Titanium">Titanium</option>
          <option value="LDPE">LDPE</option>
          <option value="Inconel">Inconel</option>
          <option value="Phosphor Bronze PB102">Phosphor Bronze PB102</option>
          <option value="FR4">FR4</option>
          <option value="Brass">Brass</option>
          <option value="Invar">Invar</option>
          <option value="Nylon">Nylon</option>
          <option value="PBT">PBT</option>
          <option value="G-10">G-10</option>
          <option value="Alloy steel">Alloy steel</option>
          <option value="Stainless steel">Stainless steel</option>
          <option value="PEI">PEI</option>
          <option value="Carbon fiber">Carbon fiber</option>
          <option value="PET">PET</option>
          <option value="PTFE (Teflon)">PTFE (Teflon)</option>
          <option value="PPSU">PPSU</option>
          <option value="Polyethylene">Polyethylene</option>
          <option value="Tool steel">Tool steel</option>
          <option value="CPVC">CPVC</option>
          <option value="PPE/PS">PPE/PS</option>
          <option value="PSU">PSU</option>
        </select>
      </div>

      <div class="form-field">
        <label for="finish-{{ i }}">Finish:</label>
        <select id="finish-{{ i }}" formControlName="finish">
          <option value="As machined (Ra 3.2μm / Ra 126μin)">
            As machined (Ra 3.2μm / Ra 126μin)
          </option>
          <option value="Smooth machining (Ra 1.6μm / Ra 63μin)">
            Smooth machining (Ra 1.6μm / Ra 63μin)
          </option>
          <option value="Polishing (Ra 0.8μm / Ra 32μin)">
            Polishing (Ra 0.8μm / Ra 32μin)
          </option>
          <option value="Fine machining (Ra 0.8μm / Ra 32μin)">
            Fine machining (Ra 0.8μm / Ra 32μin)
          </option>
          <option value="Bead blasted">Bead blasted</option>
          <option value="Bead blasted + Anodized type II (Matte)">
            Bead blasted + Anodized type II (Matte)
          </option>
          <option value="Brushed + Anodized type II (Glossy)">
            Brushed + Anodized type II (Glossy)
          </option>
          <option value="As machined + Anodized type III (Hardcoat)">
            As machined + Anodized type III (Hardcoat)
          </option>
          <option value="Powder coated">Powder coated</option>
          <option value="Brushed (Ra 1.2μm / Ra 47μin)">
            Brushed (Ra 1.2μm / Ra 47μin)
          </option>
          <option value="Chromate Conversion Coating">
            Chromate Conversion Coating
          </option>
          <option value="As machined + Anodized type II">
            As machined + Anodized type II
          </option>
          <option value="Bead Blasted + Anodized type II (Glossy)">
            Bead Blasted + Anodized type II (Glossy)
          </option>
          <option value="Electroless Nickel Plating">
            Electroless Nickel Plating
          </option>
          <option value="Bead Blasted + Anodized type III (Hardcoat)">
            Bead Blasted + Anodized type III (Hardcoat)
          </option>
          <option value="Bead Blasted + Chromate Conversion Coating">
            Bead Blasted + Chromate Conversion Coating
          </option>
          <option value="Black oxide">Black oxide</option>
          <option value="Brushed + Electropolished (Ra 0.8μm / Ra 32μin)">
            Brushed + Electropolished (Ra 0.8μm / Ra 32μin)
          </option>
        </select>
      </div>

      <div class="form-field">
        <label for="color-{{ i }}">Color:</label>
        <input type="text" id="color-{{ i }}" formControlName="color" />
      </div>

      <div class="form-field">
        <label for="partMarkings-{{ i }}">Part Marking:</label>
        <select id="partMarkings-{{ i }}" formControlName="partMarkings">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>

      <div class="form-field">
        <label for="generalTolerance-{{ i }}">General Tolerance:</label>
        <select id="generalTolerance{{ i }}" formControlName="generalTolerance">
          <option value="ISO 2768 Medium (m)">ISO 2768 Medium (m)</option>
          <option value="ISO 2768 Fine (f)">ISO 2768 Fine (f)</option>
        </select>
      </div>

      <div class="form-field">
        <label for="tightestLinearTolerance-{{ i }}"
          >Tightest Linear Tolerance:</label
        >
        <input
          type="text"
          id="tightestLinearTolerance-{{ i }}"
          formControlName="tightestLinearTolerance"
          placeholder="Tightest Linear Tolerance"
        />
      </div>

      <div class="form-field">
        <label for="fits-{{ i }}">fits:</label>
        <select id="fits-{{ i }}" formControlName="fits">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>

      <div class="form-field">
        <label for="hasThreads">Has Threads:</label>
        <select id="hasThreads-{{ i }}" formControlName="hasThreads">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>

      <div class="form-field">
        <label for="internalCorners-{{ i }}">Internal Corners:</label>
        <select id="internalCorners-{{ i }}" formControlName="internalCorners">
          <option value="2mm radii">2mm radii</option>
          <option value="Sharp">Sharp</option>
        </select>
      </div>
    </div>
  </div>

  <button type="submit" class="submit-button">Submit</button>
</form>
